
mat-accordion {
    max-width: 40rem;  
    margin: 1rem auto;  
    position: relative;
    border-color: darkorange;
    border-width: 4px;
}



mat-icon {
    position: absolute;
    bottom: 1rem;
}

.edit {
    left: 90%;
}

.delete {
    left: 95%;
}

form, div {
    max-width: 40rem;  
    position: relative;
    margin: 3rem 0rem;
    align-items: center;
}

mat-form-field {
    display: inline;
    padding-bottom: 0;
}

.form-buttons{
    text-align: center;
    margin: 0;
}

mat-expansion-panel {
    margin: 1rem auto;
}

button {
    display: inline-block;
    margin: 0 1rem;
}